@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

.dropdown-menu-lg-start[data-bs-popper] {
    right: 0 !important;
    left: auto !important;
}

.sidebar {
    top: 90px;
    border-radius: 2px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0 0 0 1px inset;
    background: #104c81;
    color: #fff;
}

.product-card {
    background: #fff;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
    margin-bottom: 20px;
}

.product-card .card-body {
    color: #515151;
}

.product-card .card-title {
    color: #323233;
    font-size: 17px;
    margin-bottom: 5px;
    font-weight: 600;
    text-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.product-card .add-to-cart-btn {
    background: rebeccapurple;
    color: #fff;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.35) 2px 5px 5px;
    padding: 8px 20px;
    border: none;
    border-radius: 3px;
}

.product-card .add-to-cart-btn:hover {
    background: #451e6b;
}

.product-card .add-to-cart-btn:active {
    background: #451e6b;
    transform: scale(.96);
}
